/* Error: Undefined mixin.
 *     ,
 * 150 |       @include box-shadow(0px 4px 17px 5px rgba(0,0,0,0.3));
 *     |       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   sass/partials/_my-work.scss 150:7  @import
 *   sass/custom.scss 186:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 150 \2502        @include box-shadow(0px 4px 17px 5px rgba(0,0,0,0.3));\a     \2502        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   sass/partials/_my-work.scss 150:7  @import\a   sass/custom.scss 186:9             root stylesheet";
}
