@media only screen and (max-width: 1125px) {
  body.my-work section.my-work__section .scroll-content {
    img {
      width: 420px;
    }

    img.mobile {
      width: 112px;
    }
  }
}

@media only screen and (max-width: 960px) {
  .inside-container {
    padding: 0 35px;
  }
}

@media only screen and (max-width: 930px) {
  body.my-work section.my-work__section .scroll-content {
    img {
      width: 380px;
    }

    img.mobile {
      width: 97px;
    }
  }
}

@media only screen and (max-width: 860px) {
  body.my-work section.my-work__section .scroll-content {
    img.mobile {
      right: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  body.full-width .site-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nomobile {
    display: none;
  }

  .inside-container {
    padding: 0 20px;
  }

  body.my-work {
    font-size: 0.8em;
  }

  body.my-work section.my-work__section {
    .scroll-content,
    .static {
      position: relative;
      width: 100%;
      height: auto;
      padding: 30px 0;
    }

    .scroll-content {
      img {
        width: auto;
      }
      
      img.mobile {
        right: -20px;
        width: 150px;
      }
    }
    .static .desc {
      position: initial;
      transform: none;
      width: 90%;
      margin: 0 auto;
    }

    h2 {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  body.my-work section.my-work__section .scroll-content img {
    width: auto;
  }
}